{% extends "layout.html" %}
{% block title %}Space Weirdos{% endblock %}



{% block content %}

<script src="/static/persistent_data.js"></script>

<div class="b-example-divider"></div>
<div class="my-5 text-center">
    <h1 class="display-5 fw-bold">Space Weirdos</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-6">An unofficial list builder for Space Weirdos by Garske Games. <a
                href="https://www.wargamevault.com/product/359157/Space-Weirdos">Support the developer</a>.</p>
    </div>
</div>

<button id="loadDataExample" class="button is-primary is-small">Save</button>
<button id="deleteDataExample" class="button is-primary is-small">Delete</button>
<span id="response">text</span>


<hr />

{% endblock %}