{% extends "layout.html" %}
{% block title %}Create Warband{% endblock %}
{% block content %}
<form action="" method="post" name="warband_edit">
    
    <div class="container">
        <div class="row">
            
            <div class="col-4 border">
                <div for="warband_id" class="label">Warband ID: {{ values['warband_id'] }}</div>
                Warband
                <label for="name" class="label">Name</label>
                <div class="control">
                    <input type="text" name="name" class="input" required="required"
                           value="{{ values['name'] }}"/>
                </div>
                

                {% if 'name' in values.errors %}
                <p class="help has-background-warning">
                    {{ values.errors['name'] }}
                </p>
                {% endif %}


                <!-- <label for="warband_trait" class="label">Warband Trait</label> -->
                <button class="btn btn-primary mt-3" type="button" data-toggle="collapse" data-target="#collapseTraits" aria-expanded="false" aria-controls="collapseTraits">
                    Warband Traits
                </button>
                <div class="m-3">Currently selected: </div>
                
                <div class="collapse m-3" id="collapseTraits">
                    {% for warband_trait_id, name, power in trait_list %}
                    <div class="form-check">
                        {% if warband_trait_id == 1 %}
                        <input class="form-check-input" type="radio" name="warband_trait" id="radio_{{warband_trait_id}}" value="{{warband_trait_id}}" checked>
                        <label class="form-check-label" for="radio_{{warband_trait_id}}"><b>{{name}}</b> {{power}}</label>
                        {% else %}
                        <input class="form-check-input" type="radio" name="warband_trait" id="radio_{{warband_trait_id}}" value="{{warband_trait_id}}">
                        <label class="form-check-label" for="radio_{{warband_trait_id}}"><b>{{name}}</b> {{power}}</label>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                    
            </div>
            <!-- <div class="col-8 border">
                Weirdos
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                               placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>


            </div>
        </div> -->

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary is-small">Save</button>
            </div>
        </div>
    </div>


    <!--    <div class="field">-->
    <!--        <label for="warband_trait" class="label">Warband Trait</label>-->
    <!--        <div class="control">-->
    <!--            <input type="text" name="warband_trait" class="input"-->
    <!--                 value="{{ values['warband_trait'] }}"/>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div class="field">-->
    <!--        <label for="warband_power" class="label">Warband Power</label>-->
    <!--        <div class="control">-->
    <!--            <input type="text" name="warband_power" class="input"-->
    <!--                 value="{{ values['warband_power'] }}"/>-->
    <!--        </div>-->
    <!--    </div>-->


</form>
{% endblock %}