{% extends "layout.html" %}
{% block title %}Print Warband{% endblock %}

{% block content %}
<script type="module" media="all" src="/static/print_warband.js"></script>
<link href="/static/print_warband.css" rel="stylesheet">
<script>
    const points_url = "{{url_for('warband_points')}}";
    const traits_url = "{{url_for('get_trait_text')}}";
    const equip_url = "{{url_for('get_weirdo_equipments')}}";
    const weirdo_attribute = [
        'speed','defense','firepower','prowess','willpower'
    ];
 </script>


<input hidden id="warband_id" value={{warband.warband_id}}>
<div class="d-print-none border">
        <h1 class="display-10 fw-bold text-center ">Print Warband Page</h1>
        <p>you should be able to ctrl+p and print the page as normal. You may not see the borders in the print preview, but they will show up if you print it for real or print to pdf.</p>
        <div class="row m-1">
            <div class="col mx-1 border">
                <input class="form-check-input" type="checkbox" name="one_col_print">
                <label class="form-check-label">one column weirdo cards</label>
            </div>
        </div>
</div>
<div  class="small-font">
    <div class="row">
        <div class="col border border-2 border-dark py-1 m-1">
            <span class="fw-bold ">Warband:</span>
            <span id="warband_name"></span>
        </div>
        <div class="col py-1 m-1"></div>
    </div>
    <div class="row">
        
        <div class="col border border-2 border-dark py-1 m-1">
            <span class="fw-bold">Warband Trait:</span>
            <span id="warband_trait" class="fw-bold"></span>
            <span id="warband_trait_text"></span>
        </div>
        <div class="col border border-2 border-dark py-1 m-1">
            <span class="fw-bold ">Leader Trait:</span>
            <span id="leader_trait" class="fw-bold"></span>
            <span id="leader_trait_text"></span>
        </div>
    </div>
</div>
<div id="weirdo_cards" class="row"></div>
<div id="card_template" class="mt-1 col-6 weirdo_card px-1 small-font" hidden>
    <div class="card border-2 border-dark">
        <div class="card-body py-1">
            <div class="card-cost float-end">no value</div>
            <div class="card-title mb-1"></div>
            <div class="row mb-1 card-attributes border">
                <div class="col px-1 border">
                    <span>speed: </span>
                    <br>
                    <span class="card-speed"></span>
                </div>
                <div class="col px-1 border">
                    <span>defense: </span>
                    <br>
                    <span class="card-defense"></span>
                </div>
                <div class="col px-1 border">
                    <span>shoot: </span>
                    <br>
                    <span class="card-firepower"></span>
                </div>
                <div class="col px-1 border">
                    <span>prowess: </span>
                    <br>
                    <span class="card-prowess"></span>
                </div>
                <div class="col px-1 border">
                    <span>will: </span>
                    <br>
                    <span class="card-willpower"></span>
                </div>
            </div>

            <span>Weapons</span>
            <div class="row mb-1 border">
                <div class="col-3 px-1 border">
                    <span class="m_name"></span>
                </div>
                <div class="col-2 px-1 border">
                    <span class="m_action"></span>
                </div>
                <div class="col-7 px-1 border">

                    <span class="m_notes"></span>
                </div>
            </div>
            <div class="row mb-1 border ranged_weapon">
                <div class="col-3 px-1 border">
                    <span class="r_name"></span>
                </div>
                <div class="col-2 px-1 border">
                    <span class="r_action"></span>
                </div>
                <div class="col-7 px-1 border">
                    <span class="r_notes"></span>
                </div>
            </div>

            <span>Equipment/Powers</span>
            <div class="equipment_area"></div>

            <!-- copies of this will be made for each equipment or power -->
            <div id="item_template" class="row mb-1 border" hidden>
                <div class="col-3 px-1 border">
                    <span class="name"></span>
                </div>
                <div class="col-9 px-1 border">
                    <span class="notes"></span>
                </div>
            </div>


            <!-- <div class="row mb-1">
                <div class="col-6 border">
                    <span class="fw-bold">Melee Weapon:</span>
                    <br>
                    <span class="melee-weapon"></span>
                </div>
                <div class="col-6 border">
                    <span class="fw-bold">Ranged Weapon:</span>
                    <br>
                    <span class="ranged-weapon"></span>

                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-6 border">
                    <span class="fw-bold">Equipment:</span>
                    <br>
                    <span class="equipment"></span>
                </div>
                <div class="col-6 border">
                    <span class="fw-bold">Powers:</span>
                    <br>
                    <span class="powers"></span>
                </div>
            </div> -->
        </div>
    </div>
</div>

{% endblock %}