{% extends "layout.html" %}
{% block title %}Print Warband{% endblock %}

{% block content %}
<script type="module" media="all" src="/static/print_warband.js"></script>
<link href="/static/print_warband.css" rel="stylesheet">
<script>
    const points_url = "{{url_for('warband_points')}}";
    const weirdo_attribute = [
        'speed','defense','firepower','prowess','willpower'
    ];
 </script>


<input hidden id="warband_id" value={{warband.warband_id}}>
<div class="text-center d-print-none">
        <h1 class="display-10 fw-bold">Print Warband Page</h1>
</div>

<div class="row justify-content-center med-font">
    <div class="col border">
        <span class="fw-bold ">Warband Name</span>
        <div id="warband_name"></div>
    </div>
    <div class="col border">
        <span class="fw-bold ">Warband Trait</span>
        <div id="warband_trait"></div>
        <div id="warband_trait_text"></div>
    </div>
    <div class="col border">
        <span class="fw-bold ">Leader Trait</span>
        <div id="leader_trait"></div>
        <div id="leader_trait_text"></div>
    </div>
</div>

<div id="weirdo_cards" class="row"></div>
<div id="card_template" class="mt-1 col-6 weirdo_card px-1" hidden>
    <div class="card">
        <div class="card-body small-font">
            <div class="card-cost float-end">no value</div>
            <div class="card-title"></div>
            <div class="row mb-1 card-attributes border">
                <div class="col px-1 border">
                    <span>speed: </span>
                    <br>
                    <span class="card-speed"></span>
                </div>
                <div class="col px-1 border">
                    <span>defense: </span>
                    <br>
                    <span class="card-defense"></span>
                </div>
                <div class="col px-1 border">
                    <span>shoot: </span>
                    <br>
                    <span class="card-firepower"></span>
                </div>
                <div class="col px-1 border">
                    <span>prowess: </span>
                    <br>
                    <span class="card-prowess"></span>
                </div>
                <div class="col px-1 border">
                    <span>will: </span>
                    <br>
                    <span class="card-willpower"></span>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-6 border">
                    <span class="fw-bold">Melee Weapon:</span>
                    <br>
                    <span class="melee-weapon"></span>
                </div>
                <div class="col-6 border">
                    <span class="fw-bold">Ranged Weapon:</span>
                    <br>
                    <span class="ranged-weapon"></span>

                </div>
            </div>
            <div class="row">
                <div class="col-6 border">
                    <span class="fw-bold">Equipment:</span>
                    <br>
                    <span class="equipment"></span>
                </div>
                <div class="col-6 border">
                    <span class="fw-bold">Powers:</span>
                    <br>
                    <span class="powers"></span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}