{% extends "layout.html" %}
{% block title %}Edit warband{% endblock %}
{% block content %}
<form action="" method="post" name="warband_edit">
    <div class="field">
        <label for="name" class="label">Name</label>
        <div class="control">
            <input type="text" name="name" class="input" required="required"
                 value="{{ values['name'] }}"/>
        </div>
        {% if 'name' in values.errors %}
        <p class="help has-background-warning">
            {{ values.errors['name'] }}
        </p>
        {% endif %}
    </div>

<!--    <div class="field">-->
<!--        <label for="warband_trait" class="label">Warband Trait</label>-->
<!--        <div class="control">-->
<!--            <input type="text" name="warband_trait" class="input"-->
<!--                 value="{{ values['warband_trait'] }}"/>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="field">-->
<!--        <label for="warband_power" class="label">Warband Power</label>-->
<!--        <div class="control">-->
<!--            <input type="text" name="warband_power" class="input"-->
<!--                 value="{{ values['warband_power'] }}"/>-->
<!--        </div>-->
<!--    </div>-->

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary is-small">Save</button>
        </div>
    </div>
</form>
{% endblock %}