{% extends "layout.html" %}
{% block title %}Warband{% endblock %}
{% block content %}
<table class="table">
    <tr>
        <th>Name:</th>
        <td>{{ warband.name }}</td>
    </tr>
    {% if warband.warband_trait %}
    <tr>
        <th>Warband Trait:</th>
        <td>{{ warband.warband_trait }}</td>
    </tr>
    {% endif %}
    {% if warband.warband_power %}
    <tr>
        <th>Warband Power:</th>
        <td>{{ warband.warband_power }}</td>
    </tr>
    {% endif %}
</table>

<div class="field is-grouped">
    <div class="control">
        <a class="button is-primary is-outlined is-small"
           href="{{ request.path }}/edit">Edit</a>
    </div>
</div>

{% endblock %}
