{% extends "layout.html" %}
{% block title %}Space Weirdos{% endblock %}

{% block content %}
  
<script type="module" src="/static/warband.js"></script>

<!-- New Weirdo Button -->
 <script>
    const new_warband_url = "{{url_for('warband_page', warband_id=0)}}";
    const points_url = "{{url_for('warband_points')}}";
    const weirdo_attribute = [
        'speed','defense','firepower','prowess','willpower'
    ];
 </script>
 <h1 id="warband_text" class="display-10 fw-bold text-center"></h1>
<div class="row justify-content-center mb-2">
    <div class="col-2">
        <label for="warband_name" class="form-label">Warband Name</label>
        <input type="text" class="form-control" id="warband_name">
    </div>
    <div class="col-2">
        <label for="warband_trait" class="form-label">Warband Trait&ensp;</label>
        <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-title="Warband Traits" data-bs-content="{{warband.warband_traits_html}}" data-bs-html="true"><i class="bi bi-question-circle-fill"></i></a>
        <select id="warband_trait" class="form-select">
            {% for name, value in warband.warband_traits.items() %}
                    <option value="{{name}}">{{name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-2">
        <label for="leader_trait" class="form-label">Leader Trait&ensp;</label>
        <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-title="Leader Traits" data-bs-content="{{warband.leader_traits_html}}" data-bs-html="true"><i class="bi bi-question-circle-fill"></i></a>
        <select id="leader_trait" class="form-select">
            {% for name, value in warband.leader_traits.items() %}
                    <option value="{{name}}">{{name}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<!-- align-items-end -->
<div class="d-flex justify-content-center mt-3">
    <!-- help center buttons -->
    <div style="width: 130px"></div> 
    <button id="save_warband" type="button" class="btn btn-success">Save Warband</button>
    <button id="create_weirdo" type="button" class="btn btn-primary ms-3" data-warband_id={{warband.warband_id}} data-bs-toggle="modal" data-bs-target="#weirdo_model">Create Weirdo</button>
    <a href="{{ url_for('print_warband_page', warband_id=warband.warband_id) }}" target="_blank" class="btn btn-secondary ms-3">Print Warband</a>
    <div id="save_alert" class="p-1 float alert alert-success d-flex mb-0 ms-3" style="opacity: 0; width: fit-content" role="alert">saved warband</div>
</div>

<input hidden id="warband_id" value={{warband.warband_id}}>
<!-- this will fill with the weirdo cards from warband.js -->
<div id="weirdo_cards" class="row"></div>
<div id="card_template" class="mt-3 col-sm-6 weirdo_card" hidden>
    <div class="card">
        <div class="card-body pb-0">
            <h5 class="card-cost float-end">no value</h5>
            <h5 class="card-title"></h5>
            <div class="row mb-2 card-attributes border">
                <div class="col px-1">
                    <span>spd: </span>
                    <span class="card-speed"></span>
                </div>
                <div class="col px-1">
                    <span>def: </span>
                    <span class="card-defense"></span>
                </div>
                <div class="col px-1">
                    <span>firepwr: </span>
                    <span class="card-firepower"></span>
                </div>
                <div class="col px-1">
                    <span>prws: </span>
                    <span class="card-prowess"></span>
                </div>
                <div class="col px-1">
                    <span>will: </span>
                    <span class="card-willpower"></span>
                </div>
            </div>
            <!-- <span>Weapons:</span> -->
            <div class="row fw-bold">
                <div class="col-6">Melee Weapon</div>
                <div class="col-6">Ranged Weapon</div>
            </div>
            <div class="row mb-2 card-weapons">
                <div class="col-6">
                    <span class="melee"></span>
                </div>
                <div class="col-6">
                    <span class="ranged"></span>
                </div>
            </div>
            <!-- <span>Equipment/Powers:</span> -->
            <div class="row fw-bold">
                <div class="col-6">Equipment</div>
                <div class="col-6">Powers</div>
            </div>
            <div class="row mb-2 card-equipment">
                <div class="col-6">
                    <span class="equipment"></span>
                </div>
                <div class="col-6">
                    <span class="powers"></span>
                </div>
            </div>
            
            <div class="float-end mb-2">
                <button type="button" class="btn btn-sm btn-outline-secondary ms-2 edit_weirdo" title="Edit Weirdo" data-bs-toggle="modal" data-bs-target="#weirdo_model"><i style="color:darkgreen;" class="bi bi-pencil-square"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary ms-2 duplicate_weirdo" title="Duplicate Weirdo"><i style="color:darkgoldenrod;" class="bi bi-copy"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary ms-2 delete_weirdo" title="Delete Weirdo"><i style="color:darkred;" class="bi bi-trash"></i></button>
            </div>
            <div class="position-absolute bottom-0 start-0"><!-- hstack -->
                <button type="button" class="btn btn-sm l_move_weirdo px-2 py-1" title="Move Weirdo Left"><i class="bi bi-arrow-left"></i></button>
                <!-- <div class="vr"></div> -->
                <button type="button" class="btn btn-sm r_move_weirdo px-2 py-1" title="Move Weirdo Right"><i class="bi bi-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>


<!-- --------------Weirdo Modal-------------- -->
<div class="modal fade" id="weirdo_model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header container pb-1">
                <div class="container mb-1">
                    <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                    <span class="float-end me-5 weirdo_cost">Cost:</span>
                    
                    <!-- <h4>Weirdo</h4> -->
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                    <button id="save_weirdo" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Save Weirdo</button>
                    
                </div>
                
            </div>
            <div class="modal-body">
                <!-- attributes -->
                <div class="row g-3 justify-content-center">
                    <input hidden id="weirdo_id" value=0>
                    <div class="col-3 my-2">
                        <input type="text" class="form-control form-select-sm" placeholder="weirdo's name" id="weirdo_name">
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-2">
                        <label for="speed_select" class="form-label">Speed</label>
                        <select id="speed_select" class="form-select form-select-sm">
                            <!-- name is the dice,  -->
                            {% for num, cost in warband.speed_list.items() %}
                                    <option value="{{cost}}">{{num}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="defense_select" class="form-label">Defense</label>
                        <select id="defense_select" class="form-select form-select-sm">
                            <!-- name is the dice,  -->
                            {% for die, cost in warband.defense_list.items() %}
                                    <option value="{{cost}}">{{die}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="firepower_select" class="form-label">Firepower</label>
                        <select id="firepower_select" class="form-select form-select-sm">
                            <!-- name is the dice,  -->
                            {% for die, cost in warband.firepower_list.items() %}
                                    <option value="{{cost}}">{{die}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="prowess_select" class="form-label">Prowess</label>
                        <select id="prowess_select" class="form-select form-select-sm">
                            <!-- name is the dice,  -->
                            {% for die, cost in warband.prowess_list.items() %}
                                    <option value="{{cost}}">{{die}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="willpower_select" class="form-label">Willpower</label>
                        <select id="willpower_select" class="form-select form-select-sm">
                            <!-- name is the dice,  -->
                            {% for die, cost in warband.willpower_list.items() %}
                                    <option value="{{cost}}">{{die}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
      
                <div class="row pt-3 g-3">
                    <!-- <label class="form-label mt-3 mb-0">Weapons</label> -->
                    <div class="accordion" id="melee-weapon-list">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="melee-heading">
                            <!-- weapons list -->
                            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse" data-bs-target="#melee-collapse" aria-controls="melee-collapse">
                                <div class="col-3" id="e-melee-name"></div>
                                <div class="col-2" id="e-melee-actions"></div>
                                <div class="col-1" id="e-melee-points"></div>
                                <div class="col-4" id="e-melee-notes"></div>
                            </button>
                          </h2>
                          <div id="melee-collapse" class="accordion-collapse collapse" aria-labelledby="weapon-heading" data-bs-parent="#melee-weapon-list">
                            <div class="accordion-body">
                                {% for item in warband.melee_weapons %}
                                    <div class="row py-1 border">
                                        <div class="col-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="melee_radios" value="{{item.name}}">
                                                <label class="form-check-label">{{ item.name }}</label>
                                            </div>
                                        </div>
                                        <div class="col-2 act">
                                            Actions: {{item.actions}}
                                        </div>
                                        <div class="col-1 pts" value = {{item.points}}>
                                            Pts: {{item.points}}
                                        </div>
                                        <div class="col-4 notes">
                                            {{item.notes}}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                          </div>
                        </div>
                        
                        <div class="accordion-item" id="ranged-weapons-list"> <!-- add hidden here to hide ranged weapons -->
                            <h2 class="accordion-header" id="ranged-heading">
                              <!-- weapons list -->
                              <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse" data-bs-target="#ranged-collapse" aria-controls="ranged-collapse">
                                    <div class="col-3" id="e-ranged-name"></div><div class="col-2" id="e-ranged-actions"></div><div class="col-1" id="e-ranged-points"></div><div class="col-4" id="e-ranged-notes"></div>
                              </button>
                            </h2>
                            <div id="ranged-collapse" class="accordion-collapse collapse" aria-labelledby="weapon-heading" data-bs-parent="#melee-weapon-list">
                                <div class="accordion-body">
                                    {% for item in warband.ranged_weapons %}
                                        <div class="row py-1 border">
                                            <div class="col-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ranged_radios" value="{{item.name}}">
                                                    <label class="form-check-label">{{ item.name }}</label>
                                                </div>
                                            </div>
                                            <div class="col-2 act">
                                                Actions: {{item.actions}}
                                            </div>
                                            <div class="col-1 pts" value = {{item.points}}>
                                                Pts: {{item.points}}
                                            </div>
                                            <div class="col-7 notes">
                                                {{item.notes}}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                          </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="equipment-heading">
                            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse" data-bs-target="#equipment-collapse" aria-expanded="false" aria-controls="equipment-collapse">
                              <div class="col-3">Equipment</div><div class="col-8" id="equipments-area"></div>
                            </button>
                          </h2>
                          <div id="equipment-collapse" class="accordion-collapse collapse" aria-labelledby="equipment-heading" data-bs-parent="#melee-weapon-list">
                            <div class="accordion-body">
                                {% for item in warband.equipment %}
                                    <div class="row py-1 border">
                                        <div class="col-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="equipment_checkbox" value="{{item.name}}">
                                                <label class="form-check-label">{{ item.name }}</label>
                                            </div>
                                        </div>
                                        <div class="col-1">
                                            {{item.type}}
                                        </div>
                                        <div class="col-1 pts" value = {{item.points}}>
                                            Pts: {{item.points}}
                                        </div>
                                        <div class="col-8">
                                            {{item.notes}}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="powers-heading">
                              <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse" data-bs-target="#powers-collapse" aria-expanded="false" aria-controls="powers-collapse">
                                <div class="col-3">Powers</div><div class="col-8" id="powers-area"></div>
                              </button>
                            </h2>
                            <div id="powers-collapse" class="accordion-collapse collapse" aria-labelledby="powers-heading" data-bs-parent="#melee-weapon-list">
                              <div class="accordion-body">
                                  {% for item in warband.powers %}
                                      <div class="row py-1 border">
                                          <div class="col-2">
                                              <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" name="powers_checkbox" value="{{item.name}}">
                                                  <label class="form-check-label">{{ item.name }}</label>
                                              </div>
                                          </div>
                                          <div class="col-1">
                                              {{item.type}}
                                          </div>
                                          <div class="col-1 pts" value = {{item.points}}>
                                              Pts: {{item.points}}
                                          </div>
                                          <div class="col-7">
                                            {{item.notes}}
                                        </div>
                                      </div>
                                  {% endfor %}
                              </div>
                            </div>
                          </div>
                      </div>
                    
                </div>
            </div>
            <!-- <div class="modal-footer">
                
            </div> -->
        </div>
    </div>
</div>
  
<hr />

{% endblock %}