{% extends "layout.html" %}
{% block title %}Space Weirdos{% endblock %}

{% block content %}
  
<script src="/static/warband.js"></script>

<!-- New Weirdo Button -->
 <script>
    const new_warband_url = "{{url_for('warband_page', warband_id=0)}}";
    const points_url = "{{url_for('warband_points')}}";
    const weirdo_attribute = [
        'speed','defense','firepower','prowess','willpower'
    ];
 </script>
 <h1 id="warband_text" class="display-10 fw-bold text-center"></h1>
<div class="row justify-content-center mb-2">
    <div class="col-4">
        <label for="warband_name" class="form-label">Warband Name</label>
        <input type="text" class="form-control" id="warband_name">
    </div>
    <div class="col-2">
        <label for="warband_trait" class="form-label">Trait</label>
        <select id="warband_trait" class="form-select">
            {% for name, value in warband.trait_dropdown.items() %}
                    <option value="{{name}}">{{name}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<!-- align-items-end -->
<div class="d-flex justify-content-center mt-3">
    
    <div style="width: 130px"></div> <!-- help center buttons -->
    <button id="save_warband" type="button" class="btn btn-success">Save Warband</button>
    <button id="create_weirdo" type="button" class="btn btn-primary ms-3" data-warband_id={{warband.warband_id}} data-bs-toggle="modal" data-bs-target="#weirdo_model">Create Weirdo</button>
    <div id="save_alert" class="p-1 float alert alert-success d-flex mb-0 ms-3" style="opacity: 0; width: fit-content" role="alert">saved warband</div>
</div>

<input hidden id="warband_id" value={{warband.warband_id}}>
<!-- this will fill with the weirdo cards from warband.js -->
<div id="weirdo_cards" class="row"></div>

<div id="card_template" class="mt-3 col-sm-6 weirdo_card" hidden>
    <div class="card">
        <div class="card-body">
            <h5 class="card-cost float-end">no value</h5>
            <h5 class="card-title"></h5>
            <div class="row mb-3 card-attributes">
                <div class="col-2 border">
                    <label for="card-speed" class="form-label fw-bold">Speed</label>
                    </br>
                    <span class="card-speed"></span>
                </div>
                <div class="col-2 border">
                    <label for="card-defense" class="form-label fw-bold">Defense</label>
                    <span class="card-defense"></span>
                </div>
                <div class="col-2 border">
                    <label for="card-firepower" class="form-label fw-bold">Firepower</label>
                    <span class="card-firepower"></span>
                </div>
                <div class="col-2 border">
                    <label for="card-prowess" class="form-label fw-bold">Prowess</label>
                    <span class="card-prowess"></span>
                </div>
                <div class="col-2 border">
                    <label for="card-willpower" class="form-label fw-bold">Willpower</label>
                    <span class="card-willpower"></span>
                </div>
            </div>
            
            <div class="float-end">
                <button type="button" class="btn btn-sm btn-outline-secondary edit_weirdo" data-bs-toggle="modal" data-bs-target="#weirdo_model"><i style="color:darkgreen;" class="bi bi-pencil-square"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary ms-2 duplicate_weirdo"><i style="color:darkgoldenrod;" class="bi bi-copy"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary ms-2 delete_weirdo"><i style="color:darkred;" class="bi bi-trash"></i></button>
            </div>
        </div>
    </div>
</div>


<!-- --------------Weirdo Modal-------------- -->
<div class="modal fade" id="weirdo_model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header container pb-1">
                <div class="container">
                    <h4 class="float-end me-5 weirdo_cost">Cost:</h4>
                    <h4>Weirdo</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- attributes -->
                <div class="row g-3">
                    <input hidden id="weirdo_id" value=0>
                    <div class="col-12">
                        <label for="weirdo_name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="weirdo_name">
                    </div>

                    <div class="col-md-2">
                        <label for="speed_select" class="form-label">Speed</label>
                        <select id="speed_select" class="form-select">
                            <!-- name is the dice,  -->
                            {% for num, cost in warband.speed_list.items() %}
                                    <option value="{{cost}}">{{num}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="defense_select" class="form-label">Defense</label>
                        <select id="defense_select" class="form-select">
                            <!-- name is the dice,  -->
                            {% for die, cost in warband.defense_list.items() %}
                                    <option value="{{cost}}">{{die}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="firepower_select" class="form-label">Firepower</label>
                        <select id="firepower_select" class="form-select">
                            <!-- name is the dice,  -->
                            {% for die, cost in warband.firepower_list.items() %}
                                    <option value="{{cost}}">{{die}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="prowess_select" class="form-label">Prowess</label>
                        <select id="prowess_select" class="form-select">
                            <!-- name is the dice,  -->
                            {% for die, cost in warband.prowess_list.items() %}
                                    <option value="{{cost}}">{{die}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="willpower_select" class="form-label">Willpower</label>
                        <select id="willpower_select" class="form-select">
                            <!-- name is the dice,  -->
                            {% for die, cost in warband.willpower_list.items() %}
                                    <option value="{{cost}}">{{die}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
      
                <div class="row pt-3 g-3">
                    <label class="form-label mt-3 mb-0">Weapons</label>
                    <div class="accordion" id="melee-weapon-list">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="melee-heading">
                            <!-- weapons list -->
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#melee-collapse" aria-controls="melee-collapse">
                            <div class="col-3" id="e-melee-name">
                                (Melee)
                            </div>
                            <div class="col-2" id="e-melee-actions">
                                Actions: 
                            </div>
                            <div class="col-1" id="e-melee-points">
                                Pts: 
                            </div>
                            <div class="col-4" id="e-melee-notes">
                                Notes:
                            </div>
                            </button>
                          </h2>
                          <div id="melee-collapse" class="accordion-collapse collapse" aria-labelledby="weapon-heading" data-bs-parent="#melee-weapon-list">
                            <div class="accordion-body">
                                {% for item in warband.melee_weapons %}
                                    <div class="row py-1 border">
                                        <div class="col-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="melee_radios" value="{{item.name}}">
                                                <label class="form-check-label">{{ item.name }}</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            Actions: {{item.actions}}
                                        </div>
                                        <div class="col-1">
                                            Pts: {{item.points}}
                                        </div>
                                        <div class="col-4">
                                            {{item.notes}}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                          </div>
                        </div>
                        
                        <div class="accordion-item" id="ranged-weapons-list"> <!-- add hidden here to hide ranged weapons -->
                            <h2 class="accordion-header" id="ranged-heading">
                              <!-- weapons list -->
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ranged-collapse" aria-controls="ranged-collapse">
                                <div class="col-3" id="e-ranged-name" >
                                    (Ranged)
                                </div>

                                <div class="col-2" id="e-ranged-actions">
                                </div>
                                <div class="col-1" id="e-ranged-points">

                                </div>
                                <div class="col-4" id="e-ranged-notes">
                                </div>
                              </button>
                            </h2>
                            <div id="ranged-collapse" class="accordion-collapse collapse" aria-labelledby="weapon-heading" data-bs-parent="#melee-weapon-list">
                                <div class="accordion-body">
                                    {% for item in warband.ranged_weapons %}
                                        <div class="row py-1 border">
                                            <div class="col-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ranged_radios" value="{{item.name}}">
                                                    <label class="form-check-label">{{ item.name }}</label>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                Actions: {{item.actions}}
                                            </div>
                                            <div class="col-1">
                                                Pts: {{item.points}}
                                            </div>
                                            <div class="col-4">
                                                {{item.notes}}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                          </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Equipment
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#melee-weapon-list">
                            <div class="accordion-body">
                              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                          </div>
                        </div>

                      </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="save_weirdo" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save Weirdo</button>
            </div>
        </div>
    </div>
</div>
  
<hr />

{% endblock %}